.text{
    color: black;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 100;
}

#Mail-button {
    display:flex;
    align-items: center;
    font-size: 1rem;
    justify-content: space-around;
    padding: 1vmin 1.6vmin;
    height:fit-content;
    background-color: black;
    border-radius: 20px;
    margin: 1rem;  
    color: white;
}


#mail{
    padding-left: 8px;
}

#logo{  
    display: flex;
    text-align: start;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    font-weight: 800;
    font-family: 'Major Mono Display';
    line-height: 15pt;
    width:14px;
    text-decoration: none;
    cursor: inherit;
    height:80px;
}

#copy-text {
    align-items: center;
}

.Navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 24px;
    align-items:center;
  }

  .Navbar {
    display: flex;
    justify-content: center;
    padding: 0 2%;
    top:0;
    position: sticky;
    align-items:center;
    height: 80px;
    text-align:center;
    font-size:1.4rem;
    z-index:5;

  }
  .HamburgerIcon {
    display: none;
    color:black;
}
.Navbar-section {
    display:flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-right: -22px;
}   
.NavItem {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.1rem 0.4rem;
    margin: 0 0.9rem;
}

@media screen and (max-width: 900px) {
    .Navbar {
        transition: 0.8s all ease;
    }
    .HamburgerIcon {
        display: block;
        position: absolute;
        top:0;
        right:0;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: none;

    }
    .Navbar-section {
        display: none;
    }
}