#Back-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Bebas Neue';
    
}
#Mail-button {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-family: 'Bebas Neue';
    padding: 1vmin;
    border: 1px solid #FA255E;
    box-sizing: border-box;
    border-radius:30px;
}
#back{
    margin:20%;
}
@media screen and (max-width: 500px){
    #back{
        visibility: hidden;
    }
}