.container-grid {
    display: grid;
    grid-template-columns: auto 2vw auto;
    text-align: center;
    font-size: 3rem;
    position:relative;
    
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    margin: 6vw;
}

#hello {
    font-family: 'Bebas Neue';
    color: white;
    cursor:default;
}

#name {
    font-family: 'Niconne';
    color: #FA255E;
    text-align: start;
    grid-column-start:3;
    cursor: default;
    width:20px;
}
.Iam-description {
    color:white;
    font-family: 'Poppins';
    text-align: start;
    grid-column-start: 3;
    font-size: 1.2rem;
    cursor:default;
    line-height: 4px;
}

@media screen and (max-width: 500px) {
    .container-grid {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .container-flex {
        margin: 20vw;
    }
}